<template>
	<b-navbar toggleable="sm" type="dark" variant="info" fixed="bottom">
		<b-navbar-toggle target="nav-collapse-footer"></b-navbar-toggle>

		<b-collapse id="nav-collapse-footer" is-nav>
			<b-navbar-nav></b-navbar-nav>

			<!-- Right aligned nav items -->
			<b-navbar-nav class="ml-auto">
				<b-nav-item to="/contact">Kontakt</b-nav-item>
				<b-nav-item to="/privacy">Polityka prywatności</b-nav-item>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class AppFooter extends Vue {}
</script>

<style lang="scss" scoped>
</style>
