<template>
	<b-navbar toggleable="sm" type="dark" variant="primary" :sticky="true">
		<b-navbar-brand to="/">Pizzeria</b-navbar-brand>

		<b-navbar-nav>
			<b-nav-text>{{title}}</b-nav-text>
		</b-navbar-nav>

		<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

		<b-collapse id="nav-collapse" is-nav>
			<!-- Right aligned nav items -->
			<b-navbar-nav class="ml-auto">
				<b-nav-item @click="onLoginClicked()" v-if="!isLoggedIn">Zaloguj</b-nav-item>
				<b-nav-item @click="onRegisterClicked()" v-if="!isLoggedIn">Załóż konto</b-nav-item>
				<b-nav-item to="/cart" v-if="isLoggedIn">Koszyk</b-nav-item>

				<!-- <b-nav-form>
					<b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
					<b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
				</b-nav-form>-->

				<b-nav-item-dropdown right v-if="isRestaurantAdmin">
					<template v-slot:button-content>
						<em>Zarządzanie Restauracją</em>
					</template>

					<b-dropdown-item to="/admin/menu">Edycja Menu</b-dropdown-item>
					<b-dropdown-item to="/admin/employees">Edycja Pracowników</b-dropdown-item>
				</b-nav-item-dropdown>

				<b-nav-item-dropdown right v-if="isLoggedIn">
					<template v-slot:button-content>
						<em>{{username}}</em>
					</template>

					<b-dropdown-item @click="onProfileClicked()">Konto</b-dropdown-item>
					<b-dropdown-item to="/orders">Zamówienia</b-dropdown-item>
					<b-dropdown-item @click="onLogoutClicked()">Wyloguj</b-dropdown-item>
				</b-nav-item-dropdown>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { mapState, mapGetters, mapActions } from "vuex";
import { login, logout, register, profile } from '@/services/user.service';

@Component({
	computed: {
		...mapGetters("user", ["isLoggedIn", "isRestaurantAdmin"]),
		...mapState("user", ["username"])
	},
	methods: {
	}
})
export default class AppHeader extends Vue {
	onLogoutClicked() {
		logout().then(() => this.$router.push("/"));
	}

	onLoginClicked() {
		login();
	}

	onRegisterClicked() {
		register();
	}

	onProfileClicked() {
		profile();
	}

	get title() {
		return this.$route.meta.title;
	}
}
</script>

<style lang="scss" scoped>
</style>
