<template>
	<div>
		<b-card no-body>
			<b-tabs card>
				<b-tab title="Pizze" class="flex" active>
					<div v-for="pizza in pizzas" class="item" :key="pizza.id">
						<pizza-card :pizza="pizza" @orderPizza="orderPizza"></pizza-card>
					</div>
				</b-tab>
				<b-tab title="Napoje" class="flex"></b-tab>
				<b-tab title="Przekąski" class="flex"></b-tab>
			</b-tabs>
		</b-card>
		<b-modal id="my-modal">Hello From My Modal!</b-modal>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import PizzaCard from "./PizzaCard.vue";
//import AddPizzaPopup from '@/popups/AddPizzaPopup.vue';

@Component({
	components: {
		PizzaCard
		// AddPizzaPopup
	}
})
export default class Menu extends Vue {
	mounted() {
		this.$store.dispatch("menu/listPizzas");
		this.$store.dispatch("menu/listSizes");
		this.$store.dispatch("menu/listDoughs");
		//this.$store.dispatch("menu/listIngredients");
	}

	get pizzas() {
		return this.$store.state.menu.pizzas;
	}

	orderPizza(pizza: any) {
		this.$emit("orderPizza", pizza);
	}
}
</script>

<style lang="scss" scoped>
.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item {
	display: flex;
	flex-direction: row;
}
</style>
