<template>
	<b-card>
		<validated-form
			@validatedSubmit="savePriceData"
			submit-text="Zapisz"
			cancel-text="Anuluj"
			@cancel="$emit('cancel')"
		>
			<validated-select label="Ciasto" name="dough" v-model="data.dough" :rules="{ required: true }">
				<b-form-select-option value="null" selected disabled>Wybierz ciasto</b-form-select-option>
				<b-form-select-option v-for="dough in doughs" :key="dough.id" :value="dough">{{dough.name}}</b-form-select-option>
			</validated-select>

			<validated-select label="Rozmiar" name="size" v-model="data.size" :rules="{ required: true }">
				<b-form-select-option value="null" selected disabled>Wybierz rozmiar</b-form-select-option>
				<b-form-select-option v-for="size in sizes" :key="size.id" :value="size">{{size.name}}</b-form-select-option>
			</validated-select>

			<validated-input
				type="number"
				label="Cena"
				name="price"
				v-model="data.price"
				step="0.01"
				:rules="{ required: true, min: 1, max: 100 }"
			></validated-input>
		</validated-form>
	</b-card>
</template>
<script lang="ts">
import { mapState, mapGetters } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";
import {
	PizzaPriceDto,
	PizzaDoughDto,
	PizzaSizeDto
} from "../api/generated";

@Component({
	components: {}
})
export default class PizzaPriceEdit extends Vue {
	@Prop()
	pizzaprice!: PizzaPriceDto;

	@Prop()
	doughs!: PizzaDoughDto[];

	@Prop()
	sizes!: PizzaSizeDto[];

	data: {
		dough?: PizzaDoughDto;
		size?: PizzaSizeDto;
		price?: number;
	} = {};

	mounted() {
		if (this.pizzaprice) {
			this.data = Object.assign({}, this.data, this.pizzaprice);
		}
	}

	savePriceData() {
		this.$emit("savePrice", this.data);
	}
}
</script>
<style lang="scss" scoped>
</style>