<template>
	<b-card no-body style="max-width: 15rem;" class="mb-2">
		<b-card-body>
			<b-card-img :src="pizza.image.url" :alt="pizza.image.alt"></b-card-img>
			<b-card-title>{{pizza.name}}</b-card-title>
			<b-card-sub-title>
				{{ '&nbsp;' }}
				{{ pizza.isSpicy ? 'Pikantna' : '' }}
				{{ pizza.isVegetarian ? 'Wegetariańska' : '' }}
				{{ pizza.isVegan ? 'Wegańska' : '' }}
			</b-card-sub-title>
		</b-card-body>
		<b-list-group flush>
			<b-list-group-item>{{pizza.description}}</b-list-group-item>
			<b-list-group-item>Cena: {{ getPrice() }} zł</b-list-group-item>
			<b-list-group-item>
				<b-button
					v-if="isLoggedIn"
					variant="primary"
					class="float-right"
					@click="onAddOrderClicked"
				>Zamów</b-button>
				<b-button
					v-if="!isLoggedIn"
					variant="primary"
					class="float-right"
					@click="onLoginClicked"
				>Zaloguj żeby zamówić</b-button>
			</b-list-group-item>
		</b-list-group>
	</b-card>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { mapGetters } from "vuex";

@Component({
	computed: {
		...mapGetters("user", ["isLoggedIn"])
	}
})
export default class PizzaCard extends Vue {
	@Prop()
	pizza!: any;

	getPrice() {
		if (this.pizza.priceRange.from === this.pizza.priceRange.to) {
			return this.pizza.priceRange.from;
		} else {
			return `${this.pizza.priceRange.from} - ${this.pizza.priceRange.to}`;
		}
	}

	onAddOrderClicked() {
		this.$router.push(`/cart/pizza/${this.pizza.id}`);
	}

	onLoginClicked() {
		this.$router.push(`/login`);
	}
}
</script>

<style lang="scss" scoped>
</style>
