<template>
	<div>
		<b-button @click="onChangeImageClicked">Zmień zdjęcie</b-button>
		<b-modal v-model="showModal" title="Wybierz obraz" size="xl" scrollable>
			<template #default>
				<b-row>
					<div v-for="image in images" class="col-lg-3" :key="image.id" @click="onImageSelected(image)">
						<image-preview :image="image" ></image-preview>
					</div>
				</b-row>
			</template>
			<template #modal-footer>
				<image-upload class="float-right" @imageUploaded="onImageUploaded"></image-upload>
			</template>
		</b-modal>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ImageDto } from "@/api/generated";
import ImageUpload from "@/components/base/ImageUpload.vue"

@Component({
	inheritAttrs: false,
	components: {
		ImageUpload,
	}
})
export default class ImageGallery extends Vue {
	showModal = false;

	mounted() {
		this.$store.dispatch("admin/listImages");
	}

	get images(): ImageDto[] {
		return this.$store.state.admin.images;
	}

	onChangeImageClicked() {
		this.showModal = true;		
	}

	onImageSelected(image) {
		this.showModal = false;

		this.$emit("imageSelected", image);
	}

	onImageUploaded() {
		this.$store.dispatch("admin/listImages");
	}
}
</script>

<style lang="scss" scoped>
</style>