<template>
<div>
	<b-button
		variant="primary"
		@click="onSelectFileClicked"
		>Prześlij obraz</b-button
	>
	<b-modal v-model="showModal" title="Prześlij obraz" size="md" hide-footer>
		<validated-form @validatedSubmit="upload" submit-text="Prześlij" class="col-md-6 m-2">
			<validated-input-file
				name="plik"
				label="Plik obrazu"
				v-model="file"
				accept="image/*"
				:rules="{ required: true }"
			></validated-input-file>

			<validated-input
				type="text"
				name="alt"
				label="Tekst alternatywny"
				v-model="alt"
				:rules="{ required: true }"
			></validated-input>
		</validated-form>
	</b-modal>
</div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { adminImagesControllerApi } from "@/api";

@Component({
	inheritAttrs: false,
	components: {
	}
})
export default class ImageGallery extends Vue {
	showModal = false;

	file: File | null = null;

	alt = "";

	mounted() {
	}

	onSelectFileClicked() {
		this.showModal = true;
	}

	@Watch("file")
	onFileChanged(newValue, oldValue) {
		if (!!this.file) {
			const name = this.file!.name;
			this.alt = name.substring(0, name.lastIndexOf("."));
			console.log(this.alt)
		}
	}

	async upload() {
		try {
			const name = this.file!.name;
			const data = await this.toBase64(this.file!);

			const result = await adminImagesControllerApi.uploadImage({
				fileName: name,
				fileData: data,
				alt: this.alt
			});

			const image = result.data;

			this.$emit("imageUploaded", image);

			this.showModal = false;
		} catch (error) {
			console.error(error);
			const msg = error.message;
			this.$bvToast.toast(msg, {
				title: "Błąd",
				toaster: "b-toaster-top-center",
				autoHideDelay: 5000,
				variant: "danger"
			});
		}
	}

	private toBase64(file: File): Promise<string> {
		return new Promise((resolve, reject) => {
			const reader = new FileReader();
			reader.onload = () => {
				let base64 = reader.result as string;
				if (base64.includes('base64,')) {
					base64 = base64.substring(base64.indexOf('base64,') + 7);
				}
				resolve(base64);
			}
			reader.onerror = error => reject(error);
			reader.readAsDataURL(file);
		});
	}
}
</script>

<style lang="scss" scoped>
</style>
