<template>
	<b-card
		no-body
		
		class="m-2"
	>
		<b-card-body>
			<b-card-img-lazy :src="image.url" :alt="image.alt"></b-card-img-lazy>
			<b-card-title>{{ image.alt }}</b-card-title>
			<b-card-sub-title>
				{{ image.width }} x {{ image.height }}
			</b-card-sub-title>
		</b-card-body>

		<slot name="more"></slot>
	</b-card>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ImageDto } from "@/api/generated";

@Component({
	inheritAttrs: false,
	components: {
	}
})
export default class ImageGallery extends Vue {
	@Prop()
	image!: ImageDto;
}
</script>

<style lang="scss" scoped>
</style>