<template>
	<b-card-img :src="image.url" :alt="image.alt" :width="image.width"></b-card-img>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ImageDto } from "@/api/generated";

@Component({
	inheritAttrs: false
})
export default class ImageViewer extends Vue {
	@Prop()
	image!: ImageDto;
}
</script>

<style lang="scss" scoped>
</style>