<template>
	<image-preview :image="value">
		<template v-slot:more>
			<b-list-group flush>
				<b-list-group-item>
					<image-gallery @imageSelected="onImageSelected"></image-gallery>
				</b-list-group-item>
			</b-list-group>
		</template>
	</image-preview>
</template>

<script lang="ts">
import { ImageDto } from "@/api/generated";
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { mapGetters } from "vuex";
import ImageGallery from "@/components/base/ImageGallery.vue";

@Component({
	computed: {
		...mapGetters("user", ["isLoggedIn"]),
	},
	components: {
		ImageGallery,
	},
})
export default class ImageChooser extends Vue {
	@Prop()
	value!: ImageDto;

	onImageSelected(image: ImageDto) {
		this.$emit("input", image);
	}
}
</script>

<style lang="scss" scoped>
</style>
