<template>
	<validation-provider :name="label" v-slot="validationContext" :rules="rules">
		<b-form-group :id="name">
			<label v-bind:class="{ required: rules.required }" :for="name">{{ label }}:</label>
			<b-form-input
				:type="type"
				:id="name"
				:name="name"
				v-bind:value="value"
				v-on:input="$emit('input', $event)"
				:state="getValidationState(validationContext)"
				:placeholder="'Wpisz ' + label"
				v-bind="$attrs"
			></b-form-input>

			<b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
		</b-form-group>
	</validation-provider>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ValidationObserver } from "vee-validate";

@Component({
	inheritAttrs: false
})
export default class ValidatedInput extends Vue {
	@Prop()
	type!: string;

	@Prop()
	name!: string;

	@Prop()
	label!: string;

	@Prop()
	value!: string;

	@Prop()
	rules!: any;

	getValidationState(validationContext: any) {
		return validationContext.dirty || validationContext.validated
			? validationContext.valid
			: null;
	}

	handleInput(value: any) {
		console.log(value);

		this.$emit("input", value);
	}
}
</script>

<style lang="scss" scoped>
label.required:before {
	color: #e32;
	content: "* ";
	display: inline;
}
</style>