<template>
	<validation-provider :name="label" v-slot="validationContext" :rules="rules">
		<b-form-group :id="name" class="file-group">
			<label v-bind:class="{ required: rules.required }" :for="name">{{ label }}:</label>
			<b-form-file
				:id="name"
				:name="name"
				:accept="accept"
				v-bind:value="value"
				v-on:input="$emit('input', $event)"
				:state="getValidationState(validationContext)"
				:placeholder="'Wybierz ' + label"
				drop-placeholder="Upuść tutaj"
			></b-form-file>

			<b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
		</b-form-group>
	</validation-provider>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ValidationObserver } from "vee-validate";

@Component({
	inheritAttrs: false
})
export default class ValidatedInputFile extends Vue {
	@Prop()
	name!: string;

	@Prop()
	label!: string;

	@Prop()
	value!: string;

	@Prop()
	rules!: any;

	@Prop()
	accept!: string;

	getValidationState(validationContext: any) {
		return validationContext.dirty || validationContext.validated
			? validationContext.valid
			: null;
	}
}
</script>

<style lang="scss">
.file-group label.required:before {
	color: #e32;
	content: "* ";
	display: inline;
}

.file-group input.custom-file-input {
    z-index: 2 !important;
}
</style>