<template>
	<ValidationObserver ref="observer" v-slot="{ handleSubmit, errors }">
		<b-form @submit.prevent="handleSubmit(emitValidatedSubmit); submitted=true;" novalidate>
			<slot></slot>

			<div class="d-flex justify-content-end">
				<b-button type="submit">{{ submitText }}</b-button>
				<b-button v-if="!!cancelText" @click="onCancelClicked" class="ml-1">{{ cancelText }}</b-button>
			</div>

			<ul class="errors" v-if="submitted">
				<li v-for="error in Object.values(errors).flat(1)" :key="error">{{error}}</li>
			</ul>
		</b-form>
	</ValidationObserver>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ValidationObserver } from "vee-validate";
import { mapGetters, mapActions } from "vuex";

@Component({
	inheritAttrs: false
})
export default class ValidatedForm extends Vue {
	$refs!: {
		observer: InstanceType<typeof ValidationObserver>;
	};

	submitted = false;

	@Prop()
	submitText!: string;

	@Prop()
	cancelText!: string;

	emitValidatedSubmit() {
		this.$emit("validatedSubmit");
	}

	onCancelClicked($event: Event) {
		$event.preventDefault();

		this.$emit("cancel");
	}
}
</script>
<style lang="scss" scoped>
ul.errors {
	margin: 5px auto;
	text-align: center;
	color: #b00;
	list-style-type: none;
}
</style>