<template>
	<section>
		<b-table :items="orders" :fields="ordersFields">
			<template v-slot:cell(actions)="row">
				<b-button
					size="sm"
					@click="onDetailsClicked(row.item)"
					class="mr-1"
				>Szczegóły</b-button>
				<div v-if="isEmployee">
					<select v-model="row.item.status">
						<option>CREATED</option>
						<option>ACCEPTED</option>
						<option>PREPARED</option>
						<option>DELIVERED</option>
					</select>
					<button @click="onUpdateStatusClicked(index)">Aktualizuj status</button>
				</div>
			</template>
		</b-table>
	</section>
</template>

<script lang="ts">
import { mapState, mapGetters } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";
import { orderControllerApi } from "@/api";
import { Order } from "../api/generated";

@Component({
	components: {},
	computed: {
		...mapGetters("user", ["isEmployee"])
	}
})
export default class PageOrders extends Vue {
	ordersFields = [
		{
			key: "timeCreated",
			label: "Data utworzenia",
			formatter: (value?: number) => (value ? this.getDate(value) : "")
		},
		{
			key: "price",
			label: "Cena",
		},
		{
			key: "status",
			label: "Status",
		},
		{
			key: "actions",
			label: "Akcje"
		}
	];

	orders: Order[] = [];

	async mounted() {
		const response = await orderControllerApi.listOrders();
		this.orders = response.data;
	}

	getDate(timestamp: number) {
		if (!timestamp) return "";
		return new Date(timestamp).toISOString().substring(0, 10);
	}

	async onUpdateStatusClicked(index: number) {
		const order = this.orders[index];

		try {
			const response = await orderControllerApi.changeOrderStatus(
				order.id!,
				order.status!
			);
			const newOrder = response.data;

			//this.orders[index] = newOrder;	//TODO
		} catch (error) {
			console.error(error);

			alert("Nie można zmienić statusu na wcześniejszy");
		}
	}

	onDetailsClicked(order: Order) {
		this.$router.push(`/order/${order.id}`);
	}
}
</script>

<style lang="scss" scoped>
</style>
