<template>
	<section class="container">
		<b-table :items="order.positions" :fields="orderFields">
			<template v-slot:cell(actions)="row">
				<!-- <b-button
					size="sm"
					@click="onEditPositionClicked(row.item)"
					class="mr-1"
				>Edytuj</b-button>
				<b-button
					size="sm"
					@click="onDeletePositionClicked(row.item)"
					class="mr-1"
				>Usuń</b-button> -->
			</template>
		</b-table>
		
		<!-- <section class="row justify-content-center">
			<router-link to="/" tag="b-button">Dodaj inną pizzę do zamówienia</router-link>
		</section> -->
			
		<validated-form @validatedSubmit="sendOrder" submit-text="Modyfikuj zamówienie">

			<span>Cena: {{ order.price }}</span>
			
			<section id="order-address">
				<h4 class="both-columns">Dostawa:</h4>

				<validated-select
					label="Miejscowość"
					name="city"
					v-model="order.address.city"
					:rules="{ required: true }"
				>
					<b-form-select-option value="Warszawa">Warszawa</b-form-select-option>
					<b-form-select-option value="Łomianki">Łomianki</b-form-select-option>
				</validated-select>

				<validated-input
					name="street"
					label="Ulica"
					v-model="order.address.street"
					:rules="{ max: 16, required: true }"
				></validated-input>

				<validated-input
					name="homeNr"
					label="Nr domu"
					v-model="order.address.homeNr"
					:rules="{ max: 16, required: true }"
				></validated-input>

				<validated-input
					name="flatNr"
					label="Nr mieszkania"
					v-model="order.address.flatNr"
					:rules="{ max: 16 }"
				></validated-input>

			</section>
			<section id="order-comments">
				<label for="comments">Uwagi:</label>
				<b-form-textarea id="comments" rows="2" v-model="order.comments"></b-form-textarea>
			</section>
		</validated-form>

		<div>
			<span class="row">
				<label for="timeCreated">Data utworzenia:</label>
				<input type="text" id="timeCreated" v-bind:value="getDate(order.timeCreated)" disabled />
			</span>
			<span class="row">
				<label for="timeAccepted">Data zaakceptowania:</label>
				<input type="text" id="timeAccepted" v-bind:value="getDate(order.timeAccepted)" disabled />
			</span>
			<span class="row">
				<label for="timePrepared">Data przygotowania:</label>
				<input type="text" id="timePrepared" v-bind:value="getDate(order.timePrepared)" disabled />
			</span>
			<span class="row">
				<label for="timeDelivered">Data dostarczenia:</label>
				<input type="text" id="timeDelivered" v-bind:value="getDate(order.timeDelivered)" disabled />
			</span>
		</div>

	</section>


</template>

<script lang="ts">
import { mapState, mapGetters } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";
import { orderControllerApi } from "@/api";
import { OrderDto, OrderStatusEnum, MenuPizzaDto, PizzaDoughDto, PizzaSizeDto, Order} from "../api/generated";

@Component({
	components: {}
})
export default class PageOrder extends Vue {
	orderFields = [
		{
			key: "menuPizza",
			label: "Pizza",
			formatter: (value?: MenuPizzaDto) => (value ? value.name : "")
		},
		{
			key: "dough",
			label: "Ciasto",
			formatter: (value?: PizzaDoughDto) => (value ? value.name : "")
		},
		{
			key: "size",
			label: "Rozmiar",
			formatter: (value?: PizzaSizeDto) => (value ? value.name : "")
		},
		{
			key: "amount",
			label: "Ilość"
		},
		{
			key: "price",
			label: "Cena",
		},
		{
			key: "actions",
			label: "Akcje"
		}
	];

	order: Order = {
		address: {
			city: "",
			street: "",
			homeNr: "",
			flatNr: ""
		},
		positions: [],
		status: OrderStatusEnum.CREATED,
		timeCreated: new Date().toDateString()
	};

	get user() {
		return this.$store.state.person;
	}

	get orderPositions() {
		return this.$store.state.order.orderPositions;
	}

	async mounted() {
		const orderId = this.$route.params.orderId;
		const response = await orderControllerApi.getOrder(parseInt(orderId));
		this.order = response.data;
	}

	getDate(timestamp: number) {
		if (!timestamp) return "";
		const iso = new Date(timestamp).toISOString();
		return iso.substring(0, 10) + " " + iso.substring(12, 16);
	}
}
</script>

<style lang="scss" scoped>
</style>
