<template>
	<section class="container-fluid">
		
		<b-table :items="cartPositions" :fields="orderFields">
			<template v-slot:cell(actions)="row">
				<b-button
					size="sm"
					@click="onEditPositionClicked(row.item)"
					class="mr-1"
				>Edytuj</b-button>
				<b-button
					size="sm"
					@click="onDeletePositionClicked(row.item)"
					class="mr-1"
				>Usuń</b-button>
			</template>
		</b-table>
		
		<section class="row justify-content-center">
			<router-link to="/" tag="b-button">Dodaj inną pizzę do zamówienia</router-link>
		</section>
		
		<validated-form @validatedSubmit="sendOrder" submit-text="Złóż zamówienie">

			<span>Cena: {{ totalPrice }}</span>
			
			<section id="order-address">
				<h4 class="both-columns">Dostawa:</h4>

				<validated-select
					label="Miejscowość"
					name="city"
					v-model="address.city"
					:rules="{ required: true }"
				>
					<b-form-select-option value="Warszawa">Warszawa</b-form-select-option>
					<b-form-select-option value="Łomianki">Łomianki</b-form-select-option>
				</validated-select>

				<validated-input
					name="street"
					label="Ulica"
					v-model="address.street"
					:rules="{ max: 16, required: true }"
				></validated-input>

				<validated-input
					name="homeNr"
					label="Nr domu"
					v-model="address.homeNr"
					:rules="{ max: 16, required: true }"
				></validated-input>

				<validated-input
					name="flatNr"
					label="Nr mieszkania"
					v-model="address.flatNr"
					:rules="{ max: 16 }"
				></validated-input>

			</section>
			<section id="order-comments">
				<label for="comments">Uwagi:</label>
				<b-form-textarea id="comments" rows="2" v-model="comments"></b-form-textarea>
			</section>
		</validated-form>
	</section>
</template>

<script lang="ts">
import { mapState, mapGetters } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";
import { orderControllerApi } from "@/api";
import {
	Address,
	OrderedPizza,
	OrderDto,
	MenuPizza,
	PizzaDough,
	PizzaSize
} from "@/api/generated/api";

@Component({
	components: {},
	computed: {
		...mapGetters("cart", ["cartPositions"])
	}
})
export default class PageCart extends Vue {
					
	orderFields = [
		{
			key: "menuPizza",
			label: "Pizza",
			formatter: (value?: MenuPizza) => (value ? value.name : "")
		},
		{
			key: "dough",
			label: "Ciasto",
			formatter: (value?: PizzaDough) => (value ? value.name : "")
		},
		{
			key: "size",
			label: "Rozmiar",
			formatter: (value?: PizzaSize) => (value ? value.name : "")
		},
		{
			key: "amount",
			label: "Ilość"
		},
		{
			key: "price",
			label: "Cena",
			formatter: (value: any, key: string, item: OrderedPizza) => this.getPrice(item) 
		},
		{
			key: "actions",
			label: "Akcje"
		}
	];

	address: Address = {
		city: "",
		street: "",
		homeNr: "",
		flatNr: ""
	};

	comments = "";
	submitted = false;

	get cartPositions(): OrderedPizza[] {
		return this.$store.state.cart.cartPositions;
	}

	get totalPrice() {
		const self = this;
		return this.cartPositions.reduce((total, position) => {
			return (total += self.getPrice(position));
		}, 0);
	}

	getPrice(cartPosition: OrderedPizza) {
		for (const priceOption of cartPosition.menuPizza!.pizzaPrices!) {
			if (
				cartPosition.size!.id === priceOption.size!.id &&
				cartPosition.dough!.id === priceOption.dough!.id
			) {
				return priceOption.price! * cartPosition.amount!;
			}
		}
		return 0;
	}

	onEditPositionClicked(orderPosition: OrderedPizza) {
		//todo
	}

	onDeletePositionClicked(orderPosition: OrderedPizza) {
		this.$store.commit("cart/removePosition", orderPosition);

		if (this.cartPositions.length == 0) {
			this.$router.push("/");
		}
	}

	sendOrder() {
		const self = this;
		const order: OrderDto = {
			pizzas: this.cartPositions,
			address: this.address
		};
		orderControllerApi.addOrder(order).then(function() {
			self.$store.commit("cart/resetCart");
			self.$router.push("/orders");
		});
	}
}
</script>

<style lang="scss" scoped>
#order-address {
	margin: 10px;
	padding: 10px;
	background-color: #e8e8e8;
}
</style>
