<template>
	<menu-menu></menu-menu>
</template>

<script lang="ts">
import { mapGetters } from "vuex";

import Menu from "./../components/Menu.vue";

export default {
	name: "PageMain",
	data: function() {
		return {};
	},
	props: {},
	computed: {
		...mapGetters("user", ["isLoggedIn"])
	},
	methods: {},
	components: {
		"menu-menu": Menu
	}
};
</script>

<style lang="scss" scoped>
</style>
