<template>
	<div id="app">
		<app-header></app-header>
		<section id="main-content">
			<router-view />
		</section>
		<app-footer></app-footer>
	</div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

import AppHeader from "./components/AppHeader.vue";
import AppFooter from "./components/AppFooter.vue";

@Component({
	components: {
		AppHeader,
		AppFooter
	}
})
export default class App extends Vue {}
</script>
<style lang="scss">
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
#app {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eee;
	color: #000;
}

#main-content {
	margin-bottom: 56px;
}

</style>
