<template>
	<section class="main" id="main-add-order">
		<header>
			<h2 class="main-header">Dodaj do zamówienia</h2>
		</header>
		<div id="pizza-info">
			<img src="@/assets/pizza.png" width="100px" height="100px" alt="pizza image" />

			<h4 id="pizza-name">{{ pizzaType.name }}</h4>

			<p>{{ pizzaType.description }}</p>
			<p>Pikantna: {{pizzaType.isSpicy ? 'tak' : 'nie'}}</p>
			<p>Wege: {{pizzaType.isVegetarian ? 'tak' : 'nie'}}</p>
		</div>

		<h3>Opcje</h3>

		<validated-form @validatedSubmit="saveData" submit-text="Dodaj do zamówienia">
			<validated-select label="Ciasto" name="dough" v-model="dough" :rules="{ required: true }">
				<b-form-select-option value="null" selected disabled>Wybierz ciasto</b-form-select-option>
				<b-form-select-option v-for="dough in doughs" :key="dough.id" :value="dough">{{dough.name}}</b-form-select-option>
			</validated-select>

			<validated-select label="Rozmiar" name="size" v-model="size" :rules="{ required: true }">
				<b-form-select-option value="null" selected disabled>Wybierz rozmiar</b-form-select-option>
				<b-form-select-option v-for="size in sizes" :key="size.id" :value="size">{{size.name}}</b-form-select-option>
			</validated-select>

			<validated-input
				type="number"
				label="Ilość"
				name="amount"
				v-model="amount"
				min="1"
				max="10"
				step="1"
				:rules="{ required: true, min: 1, max: 10 }"
			></validated-input>

			<h3 class="both-columns" id="pizza-price">Cena: {{ price }}</h3>
		</validated-form>
	</section>
</template>

<script lang="ts">
import { mapGetters } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";

import Menu from "../../components/Menu.vue";

import { pizzaControllerApi } from "@/api";
import {
	PizzaDough,
	PizzaSize,
	MenuPizza,
	OrderedPizza,
	MenuPizzaDto
} from "../../api/generated";

@Component({
	components: {}
})
export default class PageEditPizza extends Vue {
	amount = 1;
	dough: PizzaDough | null = null;
	size: PizzaSize | null = null;
	pizzaType: MenuPizzaDto = {
		id: 0,
		name: "",
		description: "",
		isVegetarian: false,
		isVegan: false,
		isSpicy: false,
		basePrice: 0,
		image: undefined,
		pizzaPrices: []
	};

	edit = false;
	submitted = false;

	async mounted() {
		this.$store.dispatch("menu/listPizzas");
		this.$store.dispatch("menu/listSizes");
		this.$store.dispatch("menu/listDoughs");

		const pizzaId = this.$route.params.pizzaId;
		if (pizzaId) {
			this.edit = true;
			const response = await pizzaControllerApi.getPizza1(
				parseInt(pizzaId)
			);
			this.pizzaType = response.data;
		}
		const index = this.$route.params.index;
		if (index) {
			this.edit = true;
		}
	}

	get pizzas() {
		return this.$store.state.menu.pizzas;
	}

	get sizes() {
		const sizes = this.pizzaType
			.pizzaPrices!.filter(price =>
				this.dough ? price.dough!.id === this.dough.id : true
			)
			.map(price => price.size);

		return this.distinct(sizes!, "id");
	}

	get doughs() {
		const doughs = this.pizzaType
			.pizzaPrices!.filter(price =>
				this.size ? price.size!.id === this.size.id : true
			)
			.map(price => price.dough);

		return this.distinct(doughs!, "id");
	}

	private distinct(array: any[], prop: string) {
		const keys = array.map(value => value[prop]);

		return array.filter((value, index) => {
			return keys.indexOf(value[prop]) === index;
		});
	}

	get price() {
		for (const priceOption of this.pizzaType.pizzaPrices!) {
			if (
				this.size &&
				this.size.id === priceOption.size!.id &&
				this.dough &&
				this.dough.id === priceOption.dough!.id
			) {
				return priceOption.price! * this.amount;
			}
		}
		return undefined;
	}

	saveData() {
		const orderPosition: OrderedPizza = {
			amount: this.amount,
			dough: this.dough!,
			size: this.size!,
			//menuPizza: this.pizzaType	//TODO
		};

		this.$store.commit("cart/addPosition", orderPosition);

		this.$router.push("/cart");
	}
}
</script>

<style lang="scss" scoped>
#main-add-order {
	margin: 30px auto;
	width: 600px;
}

#pizza-info {
	margin: 10px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 10px;
}

#pizza-info img {
	grid-row: 1 / span 4;
	margin: 0 auto;
}

#pizza-name {
	margin-left: 2em;
}

.both-columns {
	grid-column: 1 / span 2;
	text-align: center;
}

#pizza-info label {
	margin: 3px 5px;
	text-align: center;
	font-size: 1em;
}

#pizza-info input {
	width: 100%;
}

#pizza-price {
	margin: 20px 0 10px 0;
}

.return-button {
	float: right;
}
</style>
