<template>
	<section class="container">
		<b-card header="Informacje podstawowe" class="m-2">
			<validated-form @validatedSubmit="saveData" submit-text="Zapisz">
				<div class="row">
					<section class="col-lg-4">
						<image-chooser v-model="pizza.image"></image-chooser> 
					</section>
					
					<section class="col-lg-8">
						<validated-input
							name="name"
							label="Nazwa"
							v-model="pizza.name"
							:rules="{ required: true, min: 3, max: 30 }"
						></validated-input>

						<validated-input
							name="description"
							label="Opis"
							v-model="pizza.description"
							:rules="{ required: true, min: 3, max: 50 }"
						></validated-input>

						<validated-input
							name="basePrice"
							type="number"
							step="0.01"
							label="Cena bazowa"
							v-model="pizza.basePrice"
							:rules="{ required: true, min: 0, max: 100 }"
						></validated-input>

						<div class="d-flex flex-row">
							<b-form-checkbox
								id="isSpicy"
								v-model="pizza.isSpicy"
								name="isSpicy"
								class="m-2"
							>Pikantna</b-form-checkbox>

							<b-form-checkbox
								id="isVegetarian"
								v-model="pizza.isVegetarian"
								name="isVegetarian"
								class="m-2"
							>Wegetariańska</b-form-checkbox>

							<b-form-checkbox
								id="isVegan"
								v-model="pizza.isVegan"
								name="isVegan"
								class="m-2"
							>Wegańska</b-form-checkbox>
						</div>
					</section>
				</div>
			</validated-form>
		</b-card>
		<b-card header="Warianty" class="m-2">
			<b-table :items="pizza.pizzaPrices" :fields="pricesFields">
				<template v-slot:cell(actions)="row">
					<b-button
						size="sm"
						@click="row.toggleDetails"
						class="mr-1"
					>{{ row.detailsShowing ? 'Anuluj' : 'Edytuj'}}</b-button>
				</template>
				<template v-slot:row-details="row">
					<pizza-price-edit
						:pizzaprice="row.item"
						:doughs="doughs"
						:sizes="sizes"
						@save-price="savePriceData"
						@cancel="row.toggleDetails"
					></pizza-price-edit>
				</template>
			</b-table>
			<section class="row justify-content-center">
				<div class="col-4">
					<b-button class="w-100 mr-1" @click="onAddPriceClicked">Dodaj wariant</b-button>
				</div>
				<div class="col-4">
					<b-button class="w-100 ml-1" @click="onAddSuggestedPricesClicked">Dodaj sugerowane warianty</b-button>
				</div>
			</section>
			<pizza-price-edit
				v-if="addPriceMode"
				:doughs="doughs"
				:sizes="sizes"
				@save-price="savePriceData"
				@cancel="addPriceMode=false"
			></pizza-price-edit>
		</b-card>
	</section>
</template>

<script lang="ts">
import { mapState, mapGetters } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";
import PizzaPriceEdit from "@/components/PizzaPriceEdit.vue";
import ImageChooser from "@/components/base/ImageChooser.vue";
import ImageUpload from "@/components/base/ImageUpload.vue"
import { adminPizzaControllerApi, adminPizzaPricesControllerApi } from "@/api";
import {
	MenuPizzaDto,
	PizzaSizeDto,
	PizzaPriceDto,
	PizzaDoughDto,
} from "../../api/generated";

@Component({
	components: {
		PizzaPriceEdit,
		ImageChooser,
		ImageUpload,
	}
})
export default class PageEditPizza extends Vue {
	pricesFields = [
		{
			key: "dough",
			label: "Ciasto",
			formatter: (value?: PizzaDoughDto) => (value ? value.name : "")
		},
		{
			key: "size",
			label: "Rozmiar",
			formatter: (value?: PizzaSizeDto) => (value ? value.name : "")
		},
		{
			key: "price",
			label: "Cena"
		},
		{
			key: "actions",
			label: "Akcje"
		}
	];

	showImageUpload = false;

	pizza: MenuPizzaDto = {
		id: 0,
		name: "",
		description: "",
		isVegetarian: false,
		isVegan: false,
		isSpicy: false,
		basePrice: 0,
		image: undefined,
		pizzaPrices: []
	};

	edit = false;
	submitted = false;
	addPriceMode: boolean = false;

	async mounted() {
		this.$store.dispatch("menu/listPizzas");
		this.$store.dispatch("menu/listSizes");
		this.$store.dispatch("menu/listDoughs");

		const pizzaId = this.$route.params.pizzaId;
		if (pizzaId) {
			this.edit = true;
			const response = await adminPizzaControllerApi.getPizza(
				parseInt(pizzaId)
			);
			this.pizza = response.data;
		}
	}

	get pizzas(): MenuPizzaDto[] {
		return this.$store.state.menu.pizzas;
	}

	get sizes(): PizzaSizeDto[] {
		return this.$store.state.menu.sizes;
	}

	get doughs(): PizzaDoughDto[] {
		return this.$store.state.menu.doughs;
	}

	async saveData() {
		this.pizza.type = "pizza";
		const promise = this.edit
			? adminPizzaControllerApi.updatePizza(this.pizza.id!, this.pizza)
			: adminPizzaControllerApi.addPizza(this.pizza);
		try {
			const result = await promise;

			this.$router.push(`/admin/menu`);
		} catch (error) {
			console.error(error);
		}
	}

	async savePriceData(price: PizzaPriceDto) {
		const promise = price.id
			? adminPizzaPricesControllerApi.updatePizzaPrice(
					this.pizza.id!,
					price.id,
					price
			  )
			: adminPizzaPricesControllerApi.addPizzaPrice(this.pizza.id!, price);
		try {
			const result = await promise;

			this.$router.push(`/admin/menu`);
		} catch (error) {
			console.error(error);
		}
	}

	onImageAdded(ev: Event) {
		console.log(ev);
	}

	onChangePicClicked(ev: Event) {
		ev.preventDefault();
		this.showImageUpload = true;
	}

	onAddPriceClicked(ev: Event) {
		ev.preventDefault();
		this.addPriceMode = true;
	}

	onAddSuggestedPricesClicked(ev: Event) {
		ev.preventDefault();
		this.pizza.pizzaPrices = [];

		for (const size of this.sizes) {
			for (const dough of this.doughs) {
				const price = this.pizza.basePrice || 0;
				this.pizza.pizzaPrices!.push({
					size,
					dough,
					price: price * size.priceMultiplier! * dough.priceMultiplier!
				});
			}
		}
	}

	onEditPriceClicked(row: any) {
		row.editState = true;
	}

	onDeletePriceClicked(index: number) {
		this.pizza.pizzaPrices!.splice(index, 1);
	}

	imageChanged() {

	}
}
</script>

<style lang="scss" scoped>
</style>
