<template>
	<section>
		<b-table :items="pizzas" :fields="pizzasFields">
			<template v-slot:cell(image)="row">
				<img :src="'data:image/png;base64,' + row.item.image" width="100px" height="100px" :alt="row.item.name" />
			</template>
			<template v-slot:cell(actions)="row">
				<b-button size="sm" @click="onEditClicked(row.item.id)" class="mr-1">Edycja</b-button>
			</template>
		</b-table>
		<div class="row justify-content-center">
			<router-link to="/admin/pizza/" tag="b-button">Dodaj pizzę</router-link>
		</div>
	</section>
</template>

<script lang="ts">
import { mapState, mapGetters } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";
import Menu from "@/components/Menu.vue";
import { adminPizzaControllerApi } from "@/api";

@Component({
	components: {}
})
export default class PageEditMenu extends Vue {
	pizzasFields = [
		{
			key: "image",
			label: "Pizza"
		},
		{
			key: "name",
			label: "Nazwa"
		},
		{
			key: "description",
			label: "Opis"
		},
		{
			key: "isSpicy",
			label: "Pikantna"
		},
		{
			key: "isVegetarian",
			label: "Wege"
		},
		{
			key: "basePrice",
			label: "Cena bazowa"
		},
		{
			key: "actions",
			label: "Akcje"
		}
	];

	mounted() {
		this.$store.dispatch("menu/listPizzas");
	}

	get pizzas() {
		return this.$store.state.menu.pizzas;
	}

	onEditClicked(pizzaId: number) {
		this.$router.push(`/admin/pizza/${pizzaId}`);
	}

	async onDeleteClicked(pizzaId: number) {
		try {
			await adminPizzaControllerApi.deletePizza(pizzaId);

			this.$store.dispatch("menu/listPizzas");
		} catch (error) {
			console.error(error);
		}
	}
}
</script>

<style lang="scss" scoped>
</style>
